#talltext {
    width: auto;
    height: 100%;
    /* font-family: 'pc-98'; */
    background-color: #ffaaba;
    color: black;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
    overflow-x: auto;
    padding-left: 40px;
    padding-right: 40px;
}

a {
    color: #664477;
    text-decoration: none;
}

a:hover {
    color: #8799ff;
}

p {
    font-size: 22px;
    color: black;
    line-height: 1.2em;
}

b {
    font-family: 'pc-98-bold';
    color: #664477;
}

li {
    font-family: 'pc-98-bold';
    color: #664477;
}

h1 {
    color: #664477;
    text-align: center;
    font-family: 'pc-98-bold';
}

h2 {
    color: #664477;
    font-family: 'pc-98-bold';
}

h3 {
    color: #664477;
    font-family: 'pc-98-bold';
}

h4 {
    color: #664477;
    font-family: 'pc-98-bold';
}

h5 {
    color: #664477;
    font-family: 'pc-98-bold';
    margin-bottom: -6px;
    margin-top: -10px;
}

hr {
    background-color: #8799ff;
    height: 1px;
    border: none;
    width: 80%;
}

#talltext img {
    width: 100%;
    margin: auto;
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    border: 0.5rem #8899ff;
    border-style: ridge;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-family: 'pc-98';
}

time {
    font-family: 'pc-98-bold';
    color: #664477;
    text-align: center;
    margin: auto;
    display: flex;
    /* align-content: flex-end; */
    justify-content: space-around;
}

/* width */
#talltext::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
#talltext::-webkit-scrollbar-track {
background: #8799ff;
}

/* Handle */
#talltext::-webkit-scrollbar-thumb {
background: #664477;
}

.recipe-imagebox {
    width: 48%;
    display: inline;
    height: fit-content;
    margin-top: 21px;
    /* margin-bottom: auto; */
}

.recipe-ingredientbox {
    width: 48%;
    padding-left: 27px;
}

.recipe-header {
    display: flex;
    flex-direction: row;
}

.blogpost-body {
    width: 88%;
    margin: auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.blogpost-body img {
    max-width: 80%;
}