@font-face {
     font-family: pc-98;
     src: url('fonts/pc-9800.ttf'); 
}

@font-face {
     font-family: pc-98-bold;
     src: url('fonts/pc-9800-bold.ttf'); 
}

@font-face {
     font-family: f14seg-italic;
     src: url('fonts/DSEG14Classic-Italic.woff2'); 
}

@font-face {
     font-family: f14seg-bolditalic;
     src: url('fonts/DSEG14Classic-BoldItalic.woff2'); 
}

p {
	font-family: 'pc-98';
	font-size: 30px;
	color: white;
}

/* .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    width: inherit;
} */

.nav-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    height: min-content;
  }
  
  .nav-row>a {
    display: flex;
    padding: 25px;
    flex:1;
    justify-content: center;
    align-items: center;
}

.nav-row img {
    width: 100%
}

.main-container {
	width: 1280px;
	margin: auto;
}

.main-window {
	background-image: url("img/background-frame.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1280px;
	height: 800px;
}

#boot-screen {
	background: url("img/boot-screen-bg.jpg");
	background-size: cover;
	width: 1280px;
	height: 800px;
}

body {
	background-color: black;
    background-image: url(img/stars.gif);
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

#audio-player-container {
	display: none;
}

#based-div {   
	background-color: rgb(255 170 187);
    border-color: rgb(136 153 255);
    border-width: 5px;
    border-style: outset;
    border-radius: 10px;
    font-family: 'pc-98';
    padding: 10px;
    margin-bottom: 20px;
	display: flex;
}

#mute {
	width: 100px;
    height: 100px;
    filter: grayscale(100%);
	
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.subwindow {
	position: relative;
	display: flex;
    /* background-color: rgba(200,50,50,.8); */
}

.subwindow a {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#based-div > h1 {
	font-size: 50px;
}

#main-image {
    width: 740px;
    height: 528px;
    left: 270px;
    top: 10px;
}

.page-image {    
	width: 100%;
    height: 100%;
}

#home-img {
	background-image: url("img/computer_crop.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#contact-img {
	background-image: url("img/mail.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#fourohfour-img {
	background-image: url("img/godmercy.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#left-sidebar {    
	width: 244px;
    height: 348px;
    top: -82px;
    left: 6px;

    flex-direction: column;
}

#text-box {        
	width: 762px;
    height: 252px;
	top: -328px;
    left: 259px;
    border-radius: 5px;
}

.text-container {
	position: absolute;
	margin: 5px;
}

.text-container-overlay {
	position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.speaker-text {
	color: #ef0060;
    margin-top: 0px;
}

.dialog-text {
	margin-left: 18px;
}

#right-sidebar {
	width: 244px;
    height: 348px;
    top: -681px;
    left: 1030px;
	
    background-image: url(img/holo/HoloHappyBGTransparent.png);
    background-size: cover;
    background-position-x: -183px;
}

/* RADIO STYLES */

.overlay-container {
    position: absolute;
}

#radio-window {
	display: block;
	background-image: url("img/background-frame-radio.png");
}

#radio-window a {
	text-decoration: none;
	color: #00eebb;
}

#radio-img {
	background-image: url("img/radio-off.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#song-details {
	top: 128px;
    left: 41px;
    width: 398px;
    height: 91px;
    border-radius: 3px;
}

#misc-buttons {
    width: 740px;
    height: 529px;
}

#primary-controls {
	width: 133px;
    height: 131px;
    left: 487px;
    top: 128px;
}

#extra-output {
	top: 407px;
    left: 64px;
    width: 300px;
    height: 113px;
}

#meta-buttons {
	top: 408px;
    left: 454px;
    width: 254px;
    height: 113px;
}

#volume-dial {
	max-width: 95%;
	max-height: 250px;
	position: absolute;
	left: 4px;
	top: 2px;
}

#radio-ring {
	position: absolute;
    width: 134px;
    z-index: 1;
    top: -3px;
	pointer-events: none;
}

.circle {
	stroke: #00eebb;
    fill: none;
    stroke-width: 3.8px;
    stroke-linecap: square;
	
	animation: progress 1s steps(5) forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.controls {
	opacity: 100%;
    position: absolute;
    border-radius: 10px;
    background: none;
    border: none;
}

.controls:hover {
	backdrop-filter: brightness(1.5);
}

.controls:focus {
	outline: none;
}

#audioStop {
	left: 27px;
    top: 50px;
    width: 30px;
    height: 30px;
}

#audioPlay {
	left: 79px;
    top: 50px;
    width: 30px;
    height: 30px;
}

#volUp {
	left: 52px;
    top: 20px;
    width: 30px;
    height: 30px;
}

#volDown {
	left: 52px;
    top: 78px;
    width: 30px;
    height: 30px;
}

#show-queue {
	width: 240px;
    height: 28px;
    top: 6px;
    left: 8px;
}

#manage-radio {
	width: 240px;
    height: 28px;
    top: 42px;
    left: 8px;
}

#about {
	width: 240px;
    height: 28px;
    top: 78px;
    left: 8px;
}

#visualizer {
	width: 285px;
    height: 110px;
    left: 7px;
    position: absolute;
}

.status-content {
	color: #00eebb;
    font-family: 'f14seg-bolditalic';
    font-size: 20px;
	overflow: hidden;
	position: relative;
	width: 90%;
    height: 90%;
	white-space: nowrap;
	padding: 5px;
}

.status-content p {
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: 50px;
	text-decoration: none;
	
	color: #00eebb;
}

.status-content a {
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: 50px;
	text-decoration: none;
	
	color: #00eebb;
}

.scroller:hover {
    /* Starting position */
       -moz-transform:translateX(5%);
       -webkit-transform:translateX(5%);	
       transform:translateX(5%);

	/* Apply animation to this element */	
       -moz-animation: status-content 10s linear infinite;
       -webkit-animation: status-content 10s linear infinite;
       animation: status-content 10s linear infinite;
}

/* Move it (define the animation) */
  @-moz-keyframes status-content {
   0%   { -moz-transform: translateX(5%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes status-content {
   0%   { -webkit-transform: translateX(5%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes status-content {
   0%   { 
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%); 		
   }
   100% { 
   -moz-transform: translateX(-60%); /* Firefox bug fix */
   -webkit-transform: translateX(-60%); /* Firefox bug fix */
   transform: translateX(-100%); 
   }
  }
  
  
#queue-window {
	color: #00eebb;
    font-family: 'f14seg-bolditalic';
	position: relative;
	width: 90%;
    height: 90%;
	white-space: nowrap;
	padding: 5px;
	padding-left: 10px;
	
	overflow-y: scroll;
}

/* width */
#queue-window::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#queue-window::-webkit-scrollbar-track {
  background: #00eebb;
}

/* Handle */
#queue-window::-webkit-scrollbar-thumb {
  background: #ef0060;
}

#queue-window h5 {
    /* position: absolute; */
    /* height: 100%; */
    /* margin: 0; */
    /* line-height: 50px; */
	/* text-decoration: none; */
	
	color: #00eebb;
	margin-block-start: 0px;
	margin-block-end: .5em;
	padding-left: 5px;
}

#queue-window p {
	color: #00eebb;
    font-family: 'f14seg-italic';
	font-size: 10px;
	
	margin-left: 5px;
}

#queue-window a {
    /* position: absolute; */
    /* height: 100%; */
    /* margin: 0; */
    /* line-height: 50px; */
	text-decoration: none;
	font-size: 8px;
	
	color: #00eebb;
}

#queue-window ul {
	list-style-type: none;
	margin-block-start: 0px;
    margin-block-end: 1em;
    padding-inline-start: 10px;
}

#queue-window li {
}

#text-arrow {    
	width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.bounce {
    /* Starting position */
       -moz-transform:translateY(0%);
       -webkit-transform:translateY(0%);
       transform:translateY(0%);

	/* Apply animation to this element */	
       -moz-animation: bounce 1.5s steps(15) infinite;
       -webkit-animation: bounce 1.5s steps(15) infinite;
       animation: bounce 1.5s steps(15) infinite;
}

/* Move it (define the animation) */
  @-moz-keyframes bounce {
   0%   { -moz-transform: translateY(0%); }
   50% { -moz-transform: translateY(-30%); }
   100% { -moz-transform: translateY(0%); }
  }
  @-webkit-keyframes bounce {
   0%   { -webkit-transform: translateY(0%); }
   50%   { -webkit-transform: translateY(-30%); }
   100% { -webkit-transform: translateY(0%); }
  }
  @keyframes bounce {
   0%   { 
   -moz-transform: translateY(0%); /* Firefox bug fix */
   -webkit-transform: translateY(0%); /* Firefox bug fix */
   transform: translateY(0%); 		
   }
   50% { 
   -moz-transform: translateY(-30%); /* Firefox bug fix */
   -webkit-transform: translateY(-30%); /* Firefox bug fix */
   transform: translateY(-30%); 
   }
   100% { 
   -moz-transform: translateY(0%); /* Firefox bug fix */
   -webkit-transform: translateY(0%); /* Firefox bug fix */
   transform: translateY(0%); 
   }
  }

.glow-teal {
    color: #00eebb;
	text-shadow: 0px 0px 5px #00eebb;
}

.glow-red {
    color: #ef0060;
	text-shadow: 0px 0px 5px #ef0060, 0px 0px 10px #ef0060;
}

.critical-error {
    color: #ef0060;
	text-shadow: 0px 0px 5px #ef0060, 0px 0px 10px #ef0060;
    border: solid #ef0060 !important;
    box-shadow: 0px 0px 5px #ef0060 !important;
}

.critical-error p {
    color: #ef0060 !important;
	text-shadow: 0px 0px 5px #ef0060, 0px 0px 10px #ef0060;
}

.manage-button {
    background: #00eebb;
    border: #00eebb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px #00eebb, 0px 0px 10px #00eebb;
    font-family: 'pc-98-bold';
    font-size: 20px;
    letter-spacing: .07em;
}

.manage-button:hover {
    background: black;
    border: #00eebb;
	color: #00eebb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px #00eebb, 0px 0px 10px #00eebb;
    font-family: 'pc-98-bold';
    font-size: 20px;
    letter-spacing: .07em;
}

.manage-button:focus {
	outline: none;
}

.manage-input {
    background: none;
    border: #00eebb;
	color: #00eebb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px #00eebb;
	font-family: 'pc-98';
	text-align: center;
}

.manage-input:focus {
	outline: none;
}

#manage-header-left {
	font-family: 'pc-98-bold';
    letter-spacing: .1em;
    transform: scale(1,1.5);
    font-size: 2em;
	margin-block-start: .2em;
    position: absolute;
    top: 0px;
}

#manage-header-right {
    position: absolute;
    top: 10px;
    right: 53px;
}
#manage-header-right p {
    font-family: 'pc-98';
    line-height: 0;
    font-size: 20px;
    margin-block-start: .2em;
}

#manage-container hr {
	position: absolute;
    top: 40px;
    width: 100%;
    background-color: #00eebb;
    box-shadow: 0px 0px 5px #00eebb, 0px 0px 10px #00eebb;
    height: 2px;
    border: none;
}

#manage-content div {
	border: #00eebb;
    border-style: solid;
    box-shadow: 0px 0px 5px #00eebb;
}

#authorize-container {
	position: absolute;
    right: 13px;
    top: 85px;
    display: flex;
    flex-direction: column;
}

#authorize-container p {
    margin: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'pc-98-bold';
    transform: scale(1,1.5);
}

#apiKey {
    margin-left: 20px;
    margin-right: 20px;
    width: 134px;
}

#set-key {
	margin: 20px;
}

#error-container {
	position: absolute;
    top: 65px;
    width: 540px;
    height: 30px;
	
    display: flex;
    flex-direction: row;
}

#error-container p {
	margin: 4px;
    font-size: 20px;
	
	color: #00eebb;
}

#status-text {
	text-align: center;
    font-family: 'pc-98-bold';
    letter-spacing: .1em;
    margin-left: auto !important;
    margin-right: auto !important;
}

#enqueue-container {
	position: absolute;
    top: 118px;
    width: 540px;
    height: 30px;
	
    display: flex;
    flex-direction: row;
}

#enqueue-container input {
	text-align: left;
	width:100%;
}

#enqueue-container input::placeholder {
    font-family: 'pc-98-bold';
	color: #00eebb94;
    letter-spacing: .1em;
	text-align: center;
}

#song {
	width: 70% !important;
}

#queue-control-container {
	position: absolute;
    top: 172px;
    width: 510px;
    height: 27px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#queue-control-container button {
    margin-left: auto;
    margin-right: auto;
}


#limp-pumpo {
	width: 52px;
    height: 20px;
    top: 40px;
    left: 94px;
}

#killswitch {
    width: 55px;
    height: 26px;
    top: 37px;
    left: 500px;
}