<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda's Manifestos</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/textpage.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
  <div id="audio-player-container">
    <audio id="music" loop preload controls>
      <source src="" id="music-src" crossOrigin="anonymous" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
  </div>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image-tall">
        <div id="talltext">
            <h1>Panda'a Manifestos</h1>
            
            <hr style="width: 100%;">
            <h2><a href="beauty-of-illegibility.html">The Beauty of Illegibility</a></h2>
            <p>
                This is basically my aesthic manifesto
            </p>
            <!-- <h2>The New Age of Social Engineering</h2>
            <p>
                Old (2019) essay I wrote about platform design
            </p>

            <hr>
            <h2>The Gentrification Aesthetic</h2>
            <p>Talking about why modern buildings look samey</p>
            <h2>Development without Developers</h2>
            <p>What can we do about the above problem?</p>

            <hr>
            <h2>Trust the Experts</h2>
            <p>
                Organizations should put competent people in charge 
                of things and fire those who prove incompetent
            </p> -->
        </div>
      </div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
</html>
