<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/404.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="fourohfour-img">
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						Oh no, it looks like we're lost...
                        Maybe try going back?
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar" style="background-image: url(img/holo/HoloSadBGTransparent.png);"></div>
		</div>
	</div>
  </body>
</html>
