<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda's Digiverse</title>
    <link href="/css/style.css?version=1" rel="stylesheet" type="text/css" media="all">
    <link href="/css/contact.css?version=1" rel="stylesheet" type="text/css" media="all">
    <script src="/js/contact.js?version=1" crossorigin="anonymous"></script>
  </head>
  <body>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="contact-img">
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						You can email me at <a target="_blank" href="mailto:nothereyetlol">tba</a>
					</p>
					<p class="dialog-text">
						Or find me on twitter at <a target="_blank" href="https://twitter.com/VivaLaPanda_">@VivaLaPanda_</a>
					</p>
					<p class="dialog-text">
						But I mostly hang out on Discord as VivaLaPanda#9800
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
</html>
