<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda's Digiverse</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/explore.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/explore.js" crossorigin="anonymous"></script>
  </head>
  <body>
	<div id="audio-player-container">
		<audio id="music" loop preload controls>
			<source src="audio/dance_in_the_memories.mp3" id="music-src" crossOrigin="anonymous" type="audio/ogg">
			Your browser does not support the audio element.
		</audio>
	</div>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="city-img">
					<input type="image" id="mute" alt="mute" onclick="toggleMute(event)" src="/img/icons/playing_big.png">
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						Welcome to my corner of cyberspace! How can I help you？
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
</html>
