<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda's Chamber of Vibes</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/radio.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/radio.js" crossorigin="anonymous"></script>
  </head>
  <!--
	Main source image for this page comes from ＴＡＸＩ幻夢譚 ～ストレンジ・ワールド Act. 2～
  -->
  <body>
	<div class="main-container">
		<div class="main-window" id="radio-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="radio-img">
					<audio id="audioPlayer" preload="none">
					</audio>
					<audio id="tapeSound" style="display: none;" preload controls>
						<source src="audio/tape2.mp3" crossOrigin="anonymous" type="audio/ogg">
						Your browser does not support the audio element.
					</audio>
					<audio id="pumpo" style="display: none;" preload controls>
						<source src="audio/tape2.mp3" crossOrigin="anonymous" type="audio/ogg">
						Your browser does not support the audio element.
					</audio>
					<div class="overlay-container" id="misc-buttons">
						<button class="controls" id="limp-pumpo" onclick="pumpoMode(event)"></button>
						<button class="controls" id="killswitch" onclick="killSwitch(event)"></button>
						<a href="/stream.mp3" target="_blank" class="controls" id="rawstream"></a>
					</div>
					<div class="overlay-container" id="song-details">
						<div id="status-current-song" class="status-content" style="display: block;"><p id="welcome-text"></p></div>
					</div>
					<div class="overlay-container" id="primary-controls">
						<img id="radio-ring" src="/img/icons/radio-ring.png">
						<svg viewBox="0 0 36 36" id="volume-dial" style="display: none;">
						  <path id="circle-path" class="circle"
							stroke-dasharray="0, 100"
							d="M18 2.0845
							  a 15.9155 15.9155 0 0 1 0 31.831
							  a 15.9155 15.9155 0 0 1 0 -31.831"
						  />
						</svg>
					
						<button class="controls" id="audioPlay">
						<button class="controls" id="audioStop">
						<button class="controls" onclick="volUp()" id="volUp">
						<button class="controls" onclick="volDown()" id="volDown">
					</div>
					<div class="overlay-container" id="extra-output">
						<div id="queue-window" style="display: none;">
							<h5>Queue</h5>
							<p id="queueState">Nothing queued</p>
							<ul id="upcoming">
							</ul>
						</div>
						<canvas id="visualizer" height="1140px" width="880px"></canvas>
					</div>
					<div class="overlay-container" id="meta-buttons">
						<button class="controls" id="show-queue" onclick="showQueue(event)">
						<button class="controls" id="manage-radio" onclick="showManage(event)">
						<button class="controls" id="about">
					</div>
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container-overlay" id="manage-container" style="display: none;">
					<div id="manage-header">
						<p class="glow-teal" id="manage-header-left">PHONIC CONTROL SYSTEM</p>
						<div id="manage-header-right">
							<p class="glow-teal">PHONIC CONTROLLER: <span class="glow-teal" id="connection-status">CONNECTED</span></p>
							<p class="glow-teal">STATUS: <span class="glow-red" id="authorized-status">UNAUTHORIZED</span></p>
						</div>
					</div>
					<hr>
					<div id="manage-content">
						<div id="authorize-container">
							<p class="glow-teal">ENTER ACCESS KEY</p>
							<input class="manage-input" type="text" name="apiKey" id="apiKey">
							<button
								class="manage-button"
								id="set-key"
								onclick="setApiKey(event)">
								AUTHORIZE
							</button>
						</div>
						<div id="error-container">
							<p>TRANSACTION STATUS:</p>
							<p id="status-text" class="glow-teal">NOMINAL</p>
						</div>
						<div id="enqueue-container">
							<input type="text" name="song" class="manage-input" id="song" placeholder="URL" required>
							<input type="text" name="title" class="manage-input" id="title" placeholder="TITLE">
							<button
								class="manage-button"
								id="enqueue-button"
								onclick="submitToQueue(event)">
								SUBMIT
							</button>
						</div>
						<div id="queue-control-container">
							<button
								class="manage-button"
								id="skip-button"
								onclick="skipSong(event)">
								SKIP
							</button>
							<button
								class="manage-button"
								id="shuffle-button"
								onclick="shuffle(event)">
								SHUFFLE
							</button>
						</div>
					</div>
				</div>
				<div class="text-container" id="dialog-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text" id="radio-dialog">
					</p>
				</div>
				<img class="bounce" id="text-arrow" style="display:none;" src="img/icons/text-arrow.png"></img>
			</div>
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</html>
