<div class="subwindow" id="left-sidebar">
    <!-- <div class="row">
        <div class="col">
            <a class="navbutton" href="/radio.html">
                <img src="img/icons/cd_audio.png" style="width:100%"></img>
            </a>
        </div>
        <div class="col">
            <a class="navbutton" href="/radio.html">
                <img src="img/icons/cd_audio.png" style="width:100%"></img>
            </a>
        </div>
    </div> -->

    <div class="nav-row">
        <a class="navbutton" href="/index.html">
            <img src="img/icons/computer.png"></img>
        </a>
        <a class="navbutton" href="/radio.html">
            <img src="img/icons/cd_audio_recolor.png"></img>
        </a>
    </div>
    <div class="nav-row">
        <a class="navbutton" href="/contact.html">
            <img src="img/icons/envelope_closed_recolor.png"></img>
        </a>
        <a class="navbutton" href="/404.html">
            <img src="img/icons/globe_map.png"></img>
        </a>
    </div>
</div>