<div class="subwindow" id="left-sidebar">

    <div class="nav-row">
        <a class="navbutton" href="/explore/explore.html">
            <img src="/img/icons/globe_map_recolor.png"></img>
        </a>
        <a class="navbutton" href="/contact.html">
            <img src="/img/icons/envelope_closed_recolor.png"></img>
        </a>
    </div>
    <div class="nav-row">
        <a class="navbutton" href="/radio.html">
            <img src="/img/icons/cd_audio_recolor.png"></img>
        </a>
        <a class="navbutton" href="/blog/">
            <img src="/img/icons/blog_recolor.png"></img>
        </a>
    </div>
    <div class="nav-row">
        <a class="navbutton" href="/recipes.html">
            <img src="/img/icons/recipes_recolor.png"></img>
        </a>
        <a class="navbutton" href="/room.html">
            <img src="/img/icons/room_recolor.png?v=3"></img>
        </a>
    </div>
</div>