<div class="subwindow" id="left-sidebar">

    <div class="nav-row">
        <a class="navbutton" href="/index.html">
            <img src="/img/icons/computer_recolor.png"></img>
        </a>
        <a class="navbutton" href="/radio.html">
            <img src="/img/icons/cd_audio_recolor.png"></img>
        </a>
    </div>
    <div class="nav-row">
        <a class="navbutton" href="/contact.html">
            <img src="/img/icons/envelope_closed_recolor.png"></img>
        </a>
        <a class="navbutton" href="/explore/mainstreet.html">
            <img src="/img/icons/globe_map_recolor.png"></img>
        </a>
    </div>
</div>