<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda's Digiverse</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/train.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/train.js" crossorigin="anonymous"></script>
  </head>
  <body>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image-tall">
				<div class="page-image" id="contact-img">
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
</html>
