<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penthouse</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/explore.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/explore-locations.js" crossorigin="anonymous"></script>
    <script src="/js/explore.js" crossorigin="anonymous"></script>

    <!-- 
        Big ups to AccelJoe on YouTube, the source for most of the audio tracks here.
        Most of the PC98 images are from the TOUR94 Tumblr account https://jazzisthebestformofmusic.tumblr.com/archive 

        Sidebar and other assets I made myself mostly
     -->

	<style>
		#explore-img {
			background-repeat: no-repeat;
			background-size: cover;
             
			background-color: black;
			background-position: center;
		}

        .main-window {
            background-image: url("/img/background-frame-dark.png");
        }
	</style>
  </head>
  <body>
	<div id="audio-player-container">
		<audio id="music" loop preload controls>
			<source src="/audio/dance_in_the_memories.mp3" id="music-src" crossOrigin="anonymous" type="audio/ogg">
			Your browser does not support the audio element.
		</audio>
	</div>
	<div class="main-container">
		<div id="frame" class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="explore-img">
					<input type="image" id="mute" alt="mute" onclick="toggleMute(event)" src="/img/icons/playing_big.png">
				</div>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						Hey you don't think these people will mind us wandering into their houses right?
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar" style="background-image: url(/img/holo/HoloHappyBGTransparent.png);"></div>
		</div>
	</div>
  </body>
</html>
