<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandopolis</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/explore.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/explore.js" crossorigin="anonymous"></script>

	<style>
		#explore-img {
			background-image: url("/img/explore/pathways/mainstreet.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		#casino {
			width: 141px;
			height: 127px;
			background-color: blue;
			right: 94px;
			bottom: 22px;
		}
	</style>
  </head>
  <body>
	<div id="audio-player-container">
		<audio id="music" loop preload controls>
			<source src="audio/dance_in_the_memories.mp3" id="music-src" crossOrigin="anonymous" type="audio/ogg">
			Your browser does not support the audio element.
		</audio>
	</div>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="explore-img">
					<input type="image" id="mute" alt="mute" onclick="toggleMute(event)" src="/img/icons/playing_big.png">
				</div>
				<button id="casino" class="explore-nav" onclick="goTo('casino')"></button>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						Welcome to Pandopolis, take a look around and seek your fortune in the city of adventure.
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar"></div>
		</div>
	</div>
  </body>
</html>
