<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penthouse</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/explore.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/explore.js" crossorigin="anonymous"></script>

	<style>
		#explore-img {
			background-image: url("/img/explore/places/night_musician_bedroom.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: left;
		}

        .main-window {
            background-image: url("/img/background-frame-dark.png");
        }

        #stereo {
            position: absolute;
            width: 230px;
            height: 207px;
            right: 513px;
            bottom: 133px;
        }
	</style>
  </head>
  <body>
	<div id="audio-player-container">
		<audio id="music" loop preload controls>
			<source src="/audio/dance_in_the_memories.mp3" id="music-src" crossOrigin="anonymous" type="audio/ogg">
			Your browser does not support the audio element.
		</audio>
	</div>
	<div class="main-container">
		<div class="main-window">
			<div class="subwindow" id="main-image">
				<div class="page-image" id="explore-img">
					<input type="image" id="mute" alt="mute" onclick="toggleMute(event)" src="/img/icons/playing_big.png">
				</div>
				<a id="stereo" href="https://www.beepbox.co">
                    <button class="explore-nav"></button>
                </a>
			</div>
			{{ template "t_lsidebar.html" . }}
			<div class="subwindow" id="text-box">
				<div class="text-container">
					<p class="speaker-text">Ｐａｎｄａ</p>
					<p class="dialog-text">
						Hey you don't think these people will mind us wandering into their houses right?
					</p>
				</div>
			</div>
			<div class="subwindow" id="right-sidebar" style="background-image: url(/img/holo/HoloHappyBGTransparent.png);"></div>
		</div>
	</div>
  </body>
</html>
